/* Background color baby pink */
body {
    background-color: #ffe6ee;
}

/* Navigation bar */
#nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
    width: 100%;
}

#h4 {
    font-family: 'Architects Daughter', cursive;
    font-family: 'Fredoka One', cursive; 
    color: #ffe6ee;
    font-size: 230%;
}

/* "Coding Quiz" font */
h2 {
    font-family: 'Architects Daughter', cursive;
    font-family: 'Fredoka One', cursive;
    font-size: 300%;
    text-align: center;
}

/* How to take the quiz */
p {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-size: 150%;
}

/* Hides how to take the quiz after clicking start button */
.hide {
    display: none;
}

/* Button for "Start Quiz" */
button {
    font-family: 'Architects Daughter', cursive;
    font-family: 'Fredoka One', cursive;
    background-color: black;
    font-size: 200%;
    color: #ffe6ee;
    margin-left: 2%;
}

#buttonBody {
    text-align: center;
}