/* Background color baby pink */
body {
    background-color: #ffe6ee;
}

/* Navigation bar */
#nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
    width: 100%;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-family: 'Fredoka One', cursive; 
    color: #ffe6ee
}

/* "Coding Quiz" font */
h2 {
    font-family: 'Architects Daughter', cursive;
    font-family: 'Fredoka One', cursive;
    font-size: 500%;
    text-align: center;
}

/* How to take the quiz */
p {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-size: 150%;
}

/* Button for "Start Quiz" */
button {
    font-family: 'Architects Daughter', cursive;
    font-family: 'Fredoka One', cursive;
    background-color: black;
    font-size: 300%;
    color: #ffe6ee;
}

#buttonBody {
    text-align: center;
}